<div class="teams">
    <div 
        *ngFor="let team of teams"
        class="team"
        [ngClass]="{'team--selected': selectedTeam === team}"
        (click)="selectTeam(team)"
    >
        {{team.teamLead}}
    </div>
</div>

<div *ngIf="selectTeam">
    {{totalLevel}}
</div>

<div *ngIf="selectedTeam" class="players">
    <ul>
        <li *ngFor="let p of selectedTeam.players" class="player">
            {{p.title}} - {{p.name}} - {{p.proffession}}
        </li>
    </ul>
</div>

<div *ngIf="selectedTeam" class="question">
    <div class="group" *ngFor="let q of questions; let i = index">
        <h5>
            <ng-container *ngIf="!q.isBlitz">
                Հարց {{i + 1}} ---- <span style="color: burlywood">{{q.level}}</span>
            </ng-container>
            <ng-container *ngIf="q.isBlitz">
                ՍՈՒՊԵՐ ԲԼԻՑ
            </ng-container>
        </h5>
        <p class="label">Անուն ազգանուն</p>
        <p class="data">{{q.name}}</p>

        <p class="label">Մասնագիտություն</p>
        <p class="data">{{q.proffession}}</p>

        <p class="label">Քաղաք</p>
        <p class="data">{{q.city}}</p>

        <p class="label">Հարց</p>
        <p class="data">{{q.question}}</p>

        <ng-container *ngIf="q.details">
            <p class="label">Նշումներ</p>
            <p class="data">{{q.details}}</p>
        </ng-container>

        <ng-container *ngIf="q.link">
            <p class="label">Հղում</p>
            <p class="data">
                <a [href]="q.link" target="_blank">LINK TO FILE</a>
            </p>
        </ng-container>

        <p class="label">Պատասխան</p>
        <p class="data">{{q.answer}}</p>
    </div>

</div>